body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul > li:first-of-type:first-letter {
  color: #aaa;
  font-weight: bold;
}

form {
  margin: 30px;
  font-size: 18px;
}

label {
  display: block;
}

.user:active {
  font-weight: bold;
}

.user__input {
  display: block;
}
